:root {
    --dark: #3e5c76;
    --darker: #1d2d44; 
    --darkest: #0d1321;
    --gray: #f0ebd8; 
    --ligth: #d5bdaf;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    background: var(--dark);
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
}

header {
    padding: 2rem 2rem;
    max-width: 800px;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--gray); 
    margin-bottom: 0.5rem;
}

form {
    display: flex;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.input_add {
    width: 80%;
    color: var(--gray);
    margin-right: 1rem;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;   
}

.input_add::placeholder {
    color: aliceblue;
    font-style: italic;
}

.input_submit {
  cursor: pointer;  
  color: var(--ligth);
  font-size: 1.2rem;
}

.input_submit:hover {
color: var(--gray);

}

.input_submit:active {
    color: rgb(30, 63, 63);
}

main {
    flex: 1 1 0%;
    padding: 2rem 2rem;
    max-width: 800px;
    width: 100%;
}

.task_list {
 padding: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--gray);   
}

.task_element {
    display: flex;
    justify-content: space-between;
    background-color: var(--darker);
    color: var(--gray);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem; 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.text{
    color: var(--gray);
    font-style: italic;
}

.delete {
    color: #bc4749;
    cursor: pointer;
    padding-left: 1rem;
    font-weight: 600;
}

.delete:hover {
    color: #e15457;   
}


.edit {
    color: var(--ligth);
    cursor: pointer;
    font-weight: 600;
}

.edit:hover {
    color: var(--gray);
}